*.class
*.jar
*.war
*.ear
*.rar
*.zip
*.tar.gz
*.tar.bz2
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Build Tools
#============
target/
build/
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
#=====

# BlueJ
#------
*.ctxt

# NetBeans
#---------
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Eclipse
#--------
.metadata
.settings
.project
.classpath
RemoteSystemsTempFiles

# IDEA
#-----
.idea/
*.iml
